<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi Restaurant">
    <title>Restaurant App</title>
    
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
    <a href="#content" class="skip-link">Konten Utama</a>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <nav class="navbar">
                <img src="./images/logo.png" alt="Logo">
                <button class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <ul class="nav">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#/favorite">Favorite</a></li>
                    <li class="nav-item"><a href="https://www.linkedin.com/in/eko-muliyo-b48a36148">About Us</a></li>
                </ul>
            </nav>
        </div>
        <main id="main">
        </main>
        <!-- footer -->
        <footer class="footer">
            <p class="copyright-text">
                <a href="#">Copyright &copy; 2021 Restaurant App</a>
            </p>
        </footer>
</body>

</html>