<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi Kedai-ku">
    <title>Kedai-ku</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Konten Utama</a>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <nav class="navbar">
                <img src="./images/logo.png" alt="Logo">
                <a href="#" class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <ul class="nav">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a href="https://www.linkedin.com/in/eko-muliyo-b48a36148/">About Us</a></li>
                </ul>
            </nav>
        </div>
        <section class="hero">
            <h1>Kedai-ku</h1>
            <p>Lezat serta murah</p>
        </section>
        <section class="restaurants" id="maincontent">
        </section>
        <!-- footer -->
        <footer class="footer">
            <p class="copyright-text">
                <a href="#">Copyright &copy; 2021 Kedai-ku</a>
            </p>
        </footer>
    </div>
</body>

</html>